{% extends 'base.html' %}
{% block content %}

<h1>Let's play Boggle!</h1>

<h2 id="score">Your Score: 0</h2>
<h3>Highscore: {{session['highscore']}}</h3>

<section id="word-cont">
    <form method="POST" id="word-form">
        <input type="text" name="guess" id="guess">
        <button id="submit-button">Submit</button>
    </form>
</section>
<br>

<section id="timer-cont">
    <h3>Time Remaining: <b id="timer"></b></h3>
</section>

<p id="notifs"></p>
<br>


<section id="game-board">
    <table>
    {% for row in session['board']%}
        <tr>
            {% for char in row %}
            <td>{{char}}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </table>
</section>
<br>

<ul id="word-list">

</ul>

<script src="http://unpkg.com/jquery"></script>
<script src="https://unpkg.com/axios@0.19.0/dist/axios.js"></script>
<script src="static/app.js"></script>
<script>
    let game = new Boggle();
</script>

{% endblock %}